.header {
    width: 100%;
    height: 50px;
    display: table;
}

.title {
    width: 90%;
    display: table-cell;
}

.my_page {
    width: 10%;
    display: table-cell;
}

.entry-actions{
    display: inline-block;
    margin-right: 5px;
}

.navigation {
    float: right
}